In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [11]:
listings_2 = pd.read_csv('seattle/listings_2.csv')

In [13]:
listings_2.describe()

,id,host_id,host_listings_count,host_total_listings_count,accommodates,bathrooms,bedrooms,beds,price,guests_included,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,...,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000
mean,5.550111e+06,1.578556e+07,7.157412,7.157412,3.349398,1.258643,1.308015,1.735726,127.976166,1.672603,...,22.223415,94.584075,9.636721,9.566003,9.790990,9.815610,9.614196,9.457569,2.946307,2.065888
std,2.962660e+06,1.458382e+07,28.620929,28.620929,1.977599,0.589365,0.883252,1.139514,90.250022,1.311040,...,37.730892,6.508363,0.700898,0.781946,0.582518,0.548938,0.624517,0.741315,5.893029,1.814807
min,3.335000e+03,4.193000e+03,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,20.000000,0.000000,...,0.000000,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,1.000000,0.020000
25%,3.258256e+06,3.275204e+06,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,75.000000,1.000000,...,2.000000,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,1.000000,0.700000
50%,6.118244e+06,1.055814e+07,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,100.000000,1.000000,...,9.000000,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,1.510000
75%,8.035127e+06,2.590309e+07,3.000000,3.000000,4.000000,1.000000,2.000000,2.000000,150.000000,2.000000,...,26.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,2.987500
max,1.034016e+07,5.320861e+07,502.000000,502.000000,16.000000,8.000000,7.000000,15.000000,1000.000000,15.000000,...,474.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,37.000000,12.150000

In [8]:
listings_2.describe(include=["O"])

,name,summary,space,description,neighborhood_overview,transit,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,cleaning_fee,extra_people,calendar_updated,has_availability,first_review,last_review,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
count,3818,3818,3818,3818,3818,3818,3818,3818,3818,3818,...,3818,3818,3818,3818,3818,3818,3818,3818,3818,3818
unique,3792,3477,3119,3742,2506,2574,1380,4,45,2,...,118,45,34,1,984,321,2,3,2,2
top,Capitol Hill Apartment,This is a modern fully-furnished studio apartm...,"*Note: This fall, there will be major renovati...",Our space is a mix of a hostel and a home. We ...,"Close to downtown, Capitol Hill is one of Seat...",Convenient public transportation. The location...,30/8/2013,within an hour,100%,100%,...,$50.00,$0.00,today,t,21/9/2015,1/1/2016,f,strict,f,f
freq,3,18,15,10,21,50,51,1961,2765,3817,...,433,2048,706,3818,31,113,3227,1417,3497,3443