In [96]:
# Analysis lib
import numpy as np 
import pandas as pd

In [97]:
# Reading data
seattle_neighborScore = pd.read_csv('..\dataset_origin\seattle_neighborScore.csv')
seattle_neighborScore.shape

(86, 6)

In [98]:
seattle_neighborScore['Name'] = seattle_neighborScore['Name'].str.replace('West Queen Anne', 'Queen Anne')
seattle_neighborScore['Name'] = seattle_neighborScore['Name'].str.replace('.* Magnolia', 'Magnolia',regex=True)

In [99]:
# seattle_neighborScore[seattle_neighborScore['Name']=='Queen Anne']
seattle_neighborScore[seattle_neighborScore['Name']=='Magnolia']

    Rank#      Name  Walk Score  Transit Score  Bike Score Population
49     50  Magnolia          68             44          67      4,891

In [100]:
listings_holiday = pd.read_csv('..\dataset_filter\listings_holiday.csv')
listings_holiday.shape

(3818, 92)

In [101]:
listings_combined=pd.merge(seattle_neighborScore, listings_holiday, how='right', left_on=['Name'], right_on=['neighbourhood_cleansed'])

In [102]:
#listings_combined.to_csv('..\dataset_filter\listings_holiday_nScore.csv',index=False)