In [1]:
# Analysis lib
import numpy as np 
import pandas as pd

In [2]:
# Reading data
seattle_neighborScore = pd.read_csv('..\dataset_origin\seattle_neighborScore.csv')
seattle_neighborScore.shape

(86, 6)

In [3]:
seattle_neighborScore['Name']

0                   Downtown
1     International District
2                   Belltown
3                 First Hill
4             Pioneer Square
               ...
81                View Ridge
82             Arbor Heights
83                 Riverview
84            Matthews Beach
85              Rainier View
Name: Name, Length: 86, dtype: object

In [4]:
seattle_neighborScore['Name'] = seattle_neighborScore['Name'].str.replace('West Queen Anne', 'Queen Anne')
seattle_neighborScore['Name'] = seattle_neighborScore['Name'].str.replace('.* Magnolia', 'Magnolia',regex=True)

In [5]:
# seattle_neighborScore[seattle_neighborScore['Name']=='Queen Anne']
seattle_neighborScore[seattle_neighborScore['Name']=='Magnolia']

Empty DataFrame
Columns: [Rank#, Name, Walk Score, Transit Score, Bike Score, Population]
Index: []

In [6]:
listings_holiday = pd.read_csv('..\dataset_filter\listings_holiday.csv')
listings_holiday.shape

(3818, 92)

In [7]:
listings_combined=pd.merge(seattle_neighborScore, listings_holiday, how='right', left_on=['Name'], right_on=['neighbourhood_cleansed'])

In [8]:
#listings_combined.to_csv('..\dataset_filter\listings_holiday_nScore.csv',index=False)